    * {
      box-sizing: border-box;
      font-family: Arial, sans-serif;
    }

    body {
      background: #1e1e2f;
      color: #fff;
      margin: 0;
    }

    /* HEADER */
    header {
      background: #3a86ff;
      margin: 20px; /* MARGIN */
      padding: 20px; /* PADDING */
      border: 5px solid #023e8a; /* BORDER */
    }

    /* NAV com FLEXBOX */
    nav {
      background: #8338ec;
      margin: 20px;
      padding: 15px;
      border: 5px solid #5a189a;
    }

    nav ul {
      display: flex; /* FLEXBOX */
      justify-content: space-around;
      list-style: none;
      padding: 0;
    }

    nav li {
      background: #c77dff;
      padding: 10px;
      border: 2px solid #000000;
    }

    /* MAIN com GRID */
    main {
      display: grid; /* GRID */
      grid-template-columns: 2fr 1fr;
      gap: 20px;
      margin: 20px;
    }

    article {
      background: #06d6a0;
      padding: 20px;
      border: 5px solid #1b9aaa;
    }

    section {
      background: #90dbf4;
      margin-top: 10px;
      padding: 10px;
      border: 3px solid #000000;
    }

    aside {
      background: #ffd166;
      padding: 20px;
      border: 5px solid #f77f00;
    }

    footer {
      background: #ef476f;
      margin: 20px;
      padding: 15px;
      border: 5px solid #d90429;
      text-align: center;
    }

    /* BOX MODEL DEMONSTRAÇÃO */
    .box-model-demo {
      margin: 40px;
      background: #ffbe0b; /* MARGIN AREA VISUAL */
      padding: 30px;
    }

    .box-padding {
      background: #fb5607; /* PADDING AREA */
      padding: 30px;
    }

    .box-border {
      border: 10px solid #005204; /* BORDER */
    }

    .box-content {
      background: #8338ec; /* CONTENT */
      padding: 20px;
      text-align: center;
      
    }

    .label {
      font-weight: bold;
      margin-bottom: 10px;
    }